<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Fit - Restaurante de Comida Callejera en Cartagena</title>
    <meta name="description"
        content="Se trata acerca el restaurante de comida callejera en cartagena de indias, con las hamburguesas, perro calientes mas deliciosas">
    <meta name="author" content="Jaime Perez">
    <meta name="publisher" content="Alex Fit">
    <meta name="robots" content="index, follow">

    <link rel="canonical" href="http://127.0.0.1:5500/src/index.html">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" href="../assets/logos/logo.png" type="image/jpg">
    <link rel="stylesheet" href="nav.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="icon" href="../../assets/images/logos/Logo-AlexBurger-modified.png" type="image/jpg">
    <link rel="stylesheet" href="fonts.css">
</head>

<body>

    <header>
        <nav class="center">
            <ul class="flex-row">
                <div>
                    <input class="header__checkbox" type="checkbox" id="open-menu">
                    <label for="open-menu" class="header__open-nav-button" role="button">=</label>
                </div>
                <div class="container-dropdown">
                    <a href="#"><img class="logo-nav" for="open-menu"
                            src="../../assets/images/logos/Logo-AlexBurger-modified.png" alt="logo alex burger"></a>
                </div>
                <li class="li-nav"><a href="">
                        <h2>Menu</h2>
                    </a></li>
                <li class="li-nav"><a href="">
                        <h2>Domicilio</h2>
                    </a></li>
            </ul>
        </nav>
        <div class="header-nav hidden">
            <ul class="header-ul">
                <img src="../../assets/images/icons/equis.png" class='icon-close' alt="equis">

                <li class="container-header__ul">
                    <div class="center container-link-ul">

                        <a href="#" class="title-links-ul"><img src="../../assets/images/icons/scooter.png"
                                class=" icon-ul"></a>
                        <a href="#" class="title-links-ul">Ordena ya!</a>
                    </div>

                    <div class="center container-link-ul">
                        <a href="#" class="title-links-ul"><img src="../../assets/images/icons/Cubiertos.png"
                                class="icon-ul"></a>
                        <a class=" title-links-ul ">Menu</a>
                    </div>

                    <div class="center container-link-ul">
                        <a href="#" class="title-links-ul"><img
                                src="../../assets/images/icons/icons8-calendario-100.png" class=" icon-ul"></a>
                        <a class=" title-links-ul ">Reserva Mesa</a>
                    </div>
                    <div class="center container-link-ul">
                        <a href="#" class="title-links-ul"><img src="../../assets/images/icons/map.png" alt=""
                                class="icon-ul"></a>
                        <a href="#ubicacion" class="title-links-ul ">Ubicacion</a>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Help</span>
                            <i class='bx bx-chevron-down dropdown__arrow icon-ul'></i>
                        </div>
                        <div class="card_content">
                            <div class="item-list">
                                <div class="item">
                                    <i class='bx bx-question-mark'></i>
                                    <p>PQRs</p>
                                </div>
                                <div class="item">Preguntas Frecuentes</div>
                                <div class="item">Email Atencion al Cliente</div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Sobre Nosotros</span>
                            <i class='bx bx-chevron-down dropdown__arrow icon-ul'></i>
                        </div>
                        <div class="card_content">
                            <div class="item-list">
                                <div class="item">
                                    <i class='bx bx-message'></i>
                                    <p>Contacto</p>
                                </div>
                                <div class="item">

                                    <p>Terminos y Condiciones</p>
                                </div>
                                <div class="item">
                                    <p>Politicas de Cookies</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </header>

    <main class="image-overlay">
        <img src="../../assets/images/web_main/MainIMG.jpg" alt="Background Image">
        <div class="gradient"></div>
    </main>


    

    <script src="main.js"></script>
</body>

</html>