<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Alex Fit</title>
    <meta name="description"
        content="Se trata acerca el restaurante de comida callejera en cartagena de indias, con las hamburguesas, perro calientes mas deliciosas">
    <meta name="author" content="Jaime Perez">
    <meta name="publisher" content="Alex Fit">
    <meta name="robots" content="index, follow">

    <link rel="canonical" href="http://127.0.0.1:5500/src/index.html">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" href="../assets/images/logos/Logo-AlexBurger-modified.png" type="image/jpg">
    <link rel="stylesheet" href="menus.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link href="..//dist//output.css" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <header>
        <nav>
            <ul class="main-visual-nav">
                <li class="containt-logo">
                    <a href="index.html"><img class="logo-nav" for="open-menu"
                            src="../../../assets/images/logos/Logo-AlexBurger-modified.png" alt="logo alex burger"></a>
                </li>
                <li class="buttons-containt ">
                    <div class="nav-visual">
                        <a class="iniciarsesion" href="">Carrito Compra</a>
                    </div>
                </li>

            </ul>
        </nav>
    </header>

    <p class="Titlte-Menu">Menu</p>
    <div class="container">
        <main>

            <div class="card-food " id="hamburguesa">
                <div class="card-image"><img src="../../assets/images/menu/Hamburguesas/Sencilla.jpeg" alt=""></div>
                <div class="category">hamburguesa</div>
                <div class="heading"> Sencilla Carne</div>
                <div class="card-price">15.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/Hamburguesas/Sencilla.jpeg" alt=""></div>
                <div class="category">hamburguesa</div>
                <div class="heading"> Doble Carne</div>
                <div class="card-price">24.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/Hamburguesas/mixta.png" alt=""></div>
                <div class="category"> hamburguesa </div>
                <div class="heading"> Mixta </div>
                <div class="card-price">24.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/Hamburguesas/Sencilla.jpeg" alt=""></div>
                <div class="category"> hamburguesa </div>
                <div class="heading"> Sencilla Pollo Apanado</div>
                <div class="card-price">17.00$</div>
            </div>



            <div class="card-food " id="perrosCalientes">
                <div class="card-image"><img src="../../assets/images/menu/perros/Sencillo.jpeg" alt=""></div>
                <div class="category">perros Calientes</div>
                <div class="heading"> Sencillo</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Sencillo.jpeg" alt=""></div>
                <div class="category">perros Calientes</div>
                <div class="heading"> Suizo</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Chori.jpeg" alt=""></div>
                <div class="category"> perros Calientes </div>
                <div class="heading"> Choriperro</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Chori.jpeg" alt=""></div>
                <div class="category"> perros Calientes </div>
                <div class="heading"> Mixto</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Sencillo.jpeg" alt=""></div>
                <div class="category">perros Calientes</div>
                <div class="heading"> De Pollo</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Sencillo.jpeg" alt=""></div>
                <div class="category">perros Calientes</div>
                <div class="heading"> Suizo + Pollo</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Chori.jpeg" alt=""></div>
                <div class="category"> perros Calientes </div>
                <div class="heading"> Chori + pollo</div>
                <div class="card-price">14.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/perros/Sencillo.jpeg" alt=""></div>
                <div class="category"> perros Calientes </div>
                <div class="heading"> Sencilla Pollo Apanado</div>
                <div class="card-price">14.00$</div>
            </div>



            <div class="card-food" id="Salchipapas">
                <div class="card-image"><img src="../../assets/images/menu/salchipapa/salchipapa.jpeg" alt=""></div>
                <div class="category">Salchipapas</div>
                <div class="heading"> Sencilla </div>
                <div class="card-price">15.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/salchipapa/salchipapa.jpeg" alt=""></div>
                <div class="category">Salchipapas</div>
                <div class="heading"> Suiza</div>
                <div class="card-price">17.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/salchipapa/salchipapa.jpeg" alt=""></div>
                <div class="category"> Salchipapas </div>
                <div class="heading"> Ranchera </div>
                <div class="card-price">17.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/salchipapa/salchipapa.jpeg" alt=""></div>
                <div class="category"> Salchipapas </div>
                <div class="heading"> Choripapa</div>
                <div class="card-price">17.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/salchipapa/salchipapa.jpeg" alt=""></div>
                <div class="category"> Salchipapas </div>
                <div class="heading"> Mixta Personal</div>
                <div class="card-price">22.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/salchipapa/salchipapa.jpeg" alt=""></div>
                <div class="category"> Salchipapas </div>
                <div class="heading"> Mixta para Dos</div>
                <div class="card-price">33.00$</div>
            </div>


            <div class="card-food" id="desgranado">
                <div class="card-image"><img src="../../assets/images/menu/Desgranado/Desgranado.jpeg" alt=""></div>
                <div class="category">desgranado</div>
                <div class="heading">Queso</div>
                <div class="card-price">12.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/Desgranado/Desgranado.jpeg" alt=""></div>
                <div class="category">desgranado</div>
                <div class="heading">Pollo</div>
                <div class="card-price">20.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/Desgranado/Desgranado.jpeg" alt=""></div>
                <div class="category"> desgranado </div>
                <div class="heading"> Carne </div>
                <div class="card-price">20.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/Desgranado/Desgranado.jpeg" alt=""></div>
                <div class="category"> desgranado </div>
                <div class="heading"> Mixta </div>
                <div class="card-price">20.00$</div>
            </div>



            <div class="card-food " id="arepas">
                <div class="card-image"><img src="../../assets/images/menu/arepa/arepa.jpeg" alt="arepa"></div>
                <div class="category">arepas rellenas</div>
                <div class="heading">Jamon y Queso</div>
                <div class="card-price">9.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/arepa/arepa.jpeg" alt="arepa"></div>
                <div class="category">arepas rellenas</div>
                <div class="heading">Mixta</div>
                <div class="card-price">16.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/arepa/arepa.jpeg" alt="arepa"></div>
                <div class="category"> arepas rellenas </div>
                <div class="heading"> Pollo </div>
                <div class="card-price">17.00$</div>
            </div>
            <div class="card-food ">
                <div class="card-image"><img src="../../assets/images/menu/arepa/arepa.jpeg" alt="arepa"></div>
                <div class="category"> arepas rellenas </div>
                <div class="heading">Picada </div>
                <div class="card-price">18.00$</div>
            </div>



            <div class="card-food " id="Bebidas">
                <div class="card-image"></div>
                <div class="category">Bebidas</div>
                <div class="heading">Gaseosa 400ml</div>
                <div class="card-price">4.00$</div>
            </div>
            <div class="card-food " >
                <div class="card-image"></div>
                <div class="category">Bebidas</div>
                <div class="heading">Gaseosa 1.5lt</div>
                <div class="card-price">9.00$</div>
            </div>
            <div class="card-food " >
                <div class="card-image"></div>
                <div class="category"> Bebidas </div>
                <div class="heading"> Gaseosa 600ml </div>
                <div class="card-price">5.00$</div>
            </div>
            <div class="card-food " >
                <div class="card-image"></div>
                <div class="category"> Bebidas </div>
                <div class="heading">JUgo Hit </div>
                <div class="card-price">4.00$</div>
            </div>
            <div class="card-food " >
                <div class="card-image"></div>
                <div class="category"> Bebidas </div>
                <div class="heading">Agua Personal </div>
                <div class="card-price">3.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Bebidas </div>
                <div class="heading">Mr Tea </div>
                <div class="card-price">4.00$</div>
            </div>

            <div class="card-food" id="Adicionales">
                <div class="card-image"></div>
                <div class="category">Adicionales</div>
                <div class="heading">Queso Mozarella</div>
                <div class="card-price">5.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category">Adicionales</div>
                <div class="heading">Salchicha Sencilla</div>
                <div class="card-price">4.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Adicionales </div>
                <div class="heading"> Carne Hamburguesas </div>
                <div class="card-price">8.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Adicionales </div>
                <div class="heading">Salchicha Suiza </div>
                <div class="card-price">8.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Adicionales </div>
                <div class="heading">Chorizo</div>
                <div class="card-price">8.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Adicionales </div>
                <div class="heading">Pollo </div>
                <div class="card-price">10.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Adicionales </div>
                <div class="heading">Papas</div>
                <div class="card-price">7.00$</div>
            </div>
            <div class="card-food" >
                <div class="card-image"></div>
                <div class="category"> Adicionales </div>
                <div class="heading">Papas </div>
                <div class="card-price">10.00$</div>
            </div>



        </main>


        <aside>
            <div class="container-categoria">
                <h2>Categorias</h2>
                <div class="container-card">
                    <div class="nav-visual">
                        <input class="header__checkbox" type="checkbox" id="open-menu">
                        <label for="open-menu" class="header__open-nav-button" role="button">=</label>
                    </div>
                    <ul class="container-cards__categories hidden">
                        <li>
                            <button class="btn-categoria btn-todos active" data-menu="todos">Todos</button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="hamburguesa">Hamburguesas</button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="perrosCalientes">Perros Calientes </button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="Salchipapas" for="Salchipapas">Salchipapas </button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="desgranado">Desgranados</button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="arepas">Arepas Rellenas </button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="Adicionales">Adicionales</button>
                        </li>
                        <li>
                            <button class="btn-categoria active" data-menu="Bebidas">Bebidas </button>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>


    <script src="menu_script.jss"></script>
</body>

</html>