<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nuevo menu</title>
    <link rel="stylesheet" href="menus.css">
</head>
<body>
    <div class="box"></div>
    <section class="menu">
        <div class="products">
            <div class="product">
                <img src="assets/menu/presentacion/hamburguesa.jpeg" alt="">
                <p>Hamburguesas</p>
            </div>
            <div class="product">
                <img src="assets/menu/presentacion/perro.jpeg" alt="">
                <p>Perros</p>
            </div>
            <div class="product">
                <img src="assets/menu/presentacion/desgranado.jpeg" alt="">
                <p>Desgranados</p>
            </div>
            <div class="product">
                <img src="assets/menu/presentacion/salchipapa.jpeg" alt="">
                <p>Salchichapapas</p>
            </div>
            <div class="product">
                <img src="assets/menu/presentacion/addicionales.jpeg" alt="">
                <p>Adicionales</p>
            </div>
            <div class="product">
                <img src="assets/menu/presentacion/arepa.jpeg" alt="">
                <p>Arepas Rellenas</p>
            </div>
            <div class="product">
                <img src="assets/menu/presentacion/gaseosa.jpeg" alt="">
                <p>Bebidas</p>
            </div>
        </div>


    </section>
    <div class="box"></div>

    
</body>
</html>