@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/Fontspring-DEMO-wayfindercf-light.otf') format('opentype');
    font-weight: normal;
}


@font-face {
    font-family: 'riffic';
    src: url('../fonts/RifficFree-Bold.ttf')
    format('opentype');
	font-weight: 400;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
