@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/Fontspring-DEMO-wayfindercf-light.otf') format('opentype');
    font-weight: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --color-primary: #DD1C1A;
    --color-secondary: #2B2118;
    --color-accent: #A69888;
    --color-highlight: #F5F749;
    --color-dark-red: #7A0A00;
    --max-width: 1400px;
    --font: 'MiFuente';
    --box-shadow: 0px 14px 15px -3px rgba(0, 0, 0, 0.1), 0px -4px 15px -3px #ffefef;
}

/*====BASES===*/
body {
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-width: none;
    font-family: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0;
}

/*====REUSABLE CODE===*/

.auto-m {
    margin: auto;
}

.flex-row {
    display: flex;
    align-items: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 3rem 1rem;
}

.title {
    font-size: 2.0em;
    font-weight: bold;
}

/*MAIN SECTION*/
.Main-Container {
    margin: auto;
    height: 558px;
    width: 100%;
    background: url(../img/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box-main {
    padding-top: 70px;
    text-align: center;
    margin: auto;
    width: 70%;
    gap: 0;
    margin-bottom: 160px;
}

.alexfit {
    font-size: 150px;
    font-family: var(--font);

}

.cl-main {
    color: var(--color-dark-red);
}


/*HEADERE*/

nav {
    width: 100%;
    height: 100%;
    background: var(--color-dark-red);
    position: relative;
}

nav ul.flex-row {
    justify-content: center;
    gap: 90px;
    list-style: none;
}

nav li {
    padding: 15px 10px;
}

/* Dropdown Styles */
.container-dropdown {
    position: relative;
}

.dropdown__item {
    cursor: pointer;

}

.dropdown__item li {
    padding-right: 5px;
}

.dropdown__arrow {
    color: #fafafa;
    transition: transform 0.5s;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: -30px;
    width: 160px;
    background-color: var(--color-dark-red);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    z-index: 1001;
}

.container-dropdown:hover .dropdown__menu {
    max-height: 1000px;
}

.container-dropdown:hover .dropdown__arrow {
    transform: rotate(180deg);
}


.dropdown-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;
    transition: background-color 0.3s;
}

.dropdown-link:hover {
    background-color: #5c0a02;
}

.dropdown-link i {
    color: #d1cfcf;
    font-size: 1.2rem;
}

h2 {
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

h2:hover {
    color: var(--color-highlight);
}

.link-nav {
    color: white;
    text-decoration: none;
    width: 100%;
}

/* Mobile Navigation Styles */

header {
    margin: auto;
}

.header-nav {
    background-color: var(--color-dark-red);
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
}

.header-ul {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-top: 80px;
}

.container-link-ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
    gap: 40px;
}

.container-header__ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.hidden {
    display: none;
}


/* Checkbox and Button Styles */
.header__checkbox {
    display: none;
}

.header__open-nav-button {
    display: none;
    color: #fafafa;
    font-size: 2.8rem;
    cursor: pointer;
    z-index: 1003;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Este es el selector corregido para mostrar el menú */
.header__checkbox:checked .header-nav {
    display: flex !important;
}

.header-nav::-webkit-scrollbar {
    display: none;
}

/* Mobile Navigation Items */
.icon-ul {
    width: 50px;
    height: 50px;
}

.title-links-ul {
    font-size: 26px;
    font-weight: 800;
    color: white;
}

.btn-ul {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: #212121;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    cursor: pointer;
}

.btn-ul:hover {
    background: #d8d8d8;
}

/* Mobile Breakpoint */
@media (max-width: 867px) {
    nav {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .link-nav {
        display: none;
    }

    .container-dropdown,
    .li-nav {
        display: none;
    }

    .header__open-nav-button {
        display: flex;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container-header__ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }
}


/*Secctin de acerca nosotros*/

.about-us {
    display: flex;
    padding: 50px 35px;
    background: #0001;
}

.container-about {
    width: 25%;
    font-size: 18px;
    font-weight: 600;
    max-width: 400px;
}

.container-about-2 {
    font-family: var(--font);
    width: 65%;
    max-width: 1200px;
    flex-direction: column;
    font-size: 30px;
    padding-right: 20px;
}

.container-about-2 .btn-read_more {
    z-index: 12;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 6.5px 16.5px;
    margin: 0px 5px;
    border-radius: 16px;
    background-color: var(--color-dark-red);
    white-space: nowrap;
}


.Links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 120px 10px 130px 10px;
    background-color: var(--color-dark-red);
    margin: 0;
}

.container-link {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 40px 10px;
    gap: 40px;
}

.container-link:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.title-links {
    color: white;
    margin-top: 30px;
}

.container-link p {
    color: white;
}

.icon-link {
    width: 90px;
    height: 90px;
}

/* From Uiverse.io by alexroumi */
.btn-links {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btn-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--color-dark-red);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btn-links:hover {
    color: #e8e8e8;
}

.btn-links:hover::before {
    width: 100%;
}


/*Section menu*/


.menu h3 {
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.products {
    display: flex;
    justify-content: space-between;
    margin: 4.5rem 8rem;
}


.product {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.product p {
    font-size: 1.0em;
    font-weight: bold;
}

.product img {
    max-width: 110px;
    min-width: 20px;
    transition: scale 0.3s;
}



.product:hover img,
.product:hover p {
    scale: 1.2;
}

@media (max-width: 1000px) {

    .products {
        margin: 2rem 2.5rem;
        gap: 15px;
        max-width: 1000px;
        overflow-x: auto;
        line-height: 24px;

    }

    .products::-webkit-scrollbar {
        width: 0;
    }

    .product {
        min-width: 120px;
        line-height: 24px;
        min-height: 140px;
    }
}


/*Blog section*/

.blogs {
    width: 100%;
}

.blog-title-main {
    position: relative;
    color: #000;
    font-family: var(--font);
    padding-left: 25px;
    font-size: 40px;
}

.container-blogs-1 {
    display: flex;
    height: 300px;
    padding: 20px;
    gap: 15px;
}



.blog-title {
    position: absolute;
    bottom: 4px;
    left: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #fafafa;
    font-family: var(--font);
}

.card-blogs-1 {
    background: url(../blogs//blog-1.jpg);
    width: 70%;
}

.card-blogs-2 {
    background: url(../blogs//blog-2.jpg);
    width: 30%;
}

.card-blogs-3 {
    background: url(../blogs//blog-3.jpg);
    width: 40%;
}

.card-blogs-4 {
    background: url(../blogs//blog-4.jpg);
    width: 60%;
}

.card-model {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*Footer section*/
.footer {
    background-color: var(--color-dark-red);
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 300px;
    padding: 1rem 2rem 1rem 2rem;
    padding-bottom: 0px;
}


.seccion-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0px;
}

.seccion-1 p {
    color: #fff;
    font-size: 70px;
    font-family: var(--font);
}

.seccion-1 a {
    color: #fafafa;
    font-size: 14px;
}

.seccion-1:first-child {
    align-items: flex-start;
    color: #fafafa;
}


/*Whatsapp btn*/
.icon-wpp {
    position: fixed;
    width: 50px;
    right: 55px;
    bottom: 15px;
}
/* From Uiverse.io by Creatlydev */ 
.button {
    cursor: pointer;
    border: none;
    background: #2CD46B;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    transition:
      background 300ms,
      transform 200ms;
    font-weight: 600;
  }
  
  .button__text {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;
  
    > span {
      position: absolute;
      transform: rotate(calc(19deg * var(--index)));
      inset: 7px;
    }
  }
  
  .button__circle {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #fff;
    color: #7808d0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button__icon--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover {
    background: #000;
    transform: scale(1.05);
  }
  
  .button:hover .button__icon {
    color: #000;
  }
  
  .button:hover .button__icon:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
  
  @keyframes text-rotation {
    to {
      rotate: 360deg;
    }
  }
  
/**/

.seccion-1:nth-child(2) {
    margin-top: 20px;
    padding-left: 40px;
    gap: 20px;
}


.seccion-1:nth-child(3) {
    margin-top: 20px;
    gap: 20px;
}

.social-media {
    width: 100%;
    display: flex;
    align-items: center;
}

.social-media:first-child img {
    margin-bottom: 1rem;
}

.social-media img {
    margin-left: 15px;
    width: 27px;
    height: 27px;
}

.container-copy {
    display: flex;
    width: 100%;
    background-color: var(--color-dark-red);
    padding: 20px 30px;
    font-size: 9px;
    color: #fafafa;
}




/*VIEW CELULAR*/

@media (max-width: 767px) {
    .link-nav {
        display: none;
    }

    .Main-Container {
        height: 100dvh;
        /*se debe cambiar la img*/
        background: url(../img/MovilMainAlex.png);
        background-repeat: no-repeat;
        background-size: contain;

    }

    .Links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }


    .container-link {
        width: 100%;
        height: 100%;
        padding: 40px 10px;
        gap: 40px;
    }

    .container-blogs-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 600px;
        padding: 20px;
        gap: 25px;
    }

    .card-model {
        width: 100%;
    }

    .container-abouts{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
    }

    .container-about {
        width: 100%;
        margin: auto;
        font-size: 2rem;
    }
    
    .container-about-2 {
        width: 100%;
        padding: 0px;
        font-size: 24px;
    }


    .container-link:nth-child(2) {
        border-left: none;
        border-right: none;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 40px 160px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        padding-bottom: 0px;
    }
    .seccion-1 {
        width: 100%;
        padding: 0rem;
        padding-bottom: 0px;
    }

    .seccion-1:nth-child(2){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        padding: 0;
        margin: 0;
    }

    .seccion-1:nth-child(3){
        margin-bottom: -1rem;
        border-bottom: 0.5px solid #fafafa;
    }

    .container-copy{
        width: 100%;
        padding: 36px 30px;
    }
    
}
    


