:root {
    --color-primary: #DD1C1A;
    --color-secondary: #2B2118;
    --color-accent: #A69888;
    --color-orange: #F97517;
    --color-highlight: #F5F749;
    --color-dark-red: #7A0A00;
    --max-width: 1400px;
    --font: 'MiFuente';
    --font-riffic: 'riffic';
    --box-shadow: 0px 14px 15px -3px rgba(0, 0, 0, 0.1), 0px -4px 15px -3px #ffefef;
}

/*====BASES===*/
body {
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-width: none;
    font-family: 'Inter', sans-serif;
}

* {
    padding: 0;

    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    margin: 0;
}

/*====REUSABLE CODE===*/

.h-fonts {
    font-family: var(--font-riffic);
}

.gap-30 {
    gap: 40px;
}

.flex {
    display: flex;
}

.auto-m {
    margin: auto;
}

.flex-row {
    display: flex;
    align-items: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__container {
    max-width: var(--max-width);
    padding: 3rem 1rem;
}

.title {
    font-size: 2.0em;
    font-weight: bold;
}


/*Whatsapp btn*/
.icon-wpp {
    position: fixed;
    z-index: 101;
    width: 50px;
    right: 55px;
    bottom: 15px;
}

/* From Uiverse.io by Creatlydev */
.button {
    cursor: pointer;
    border: none;
    background: #2CD46B;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    transition:
        background 300ms,
        transform 200ms;
    font-weight: 600;
}

.button__text {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;

    >span {
        position: absolute;
        transform: rotate(calc(19deg * var(--index)));
        inset: 7px;
    }
}

.button__circle {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #fff;
    color: #7808d0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__icon--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.button:hover {
    background: #000;
    transform: scale(1.05);
}

.button:hover .button__icon {
    color: #000;
}

.button:hover .button__icon:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.button:hover .button__icon--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}

@keyframes text-rotation {
    to {
        rotate: 360deg;
    }
}


/*MAIN SECTION*/
.image-overlay {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}



.img-main {
    background: url("../images/web_main/MainIMG.jpg");
    aspect-ratio: 1280/717;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
}

.center-main {
    top: 55%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px 1fr;
}

.center-main p {
    font-size: 80px;
    font-weight: bold;
    font-family: var(--font-riffic);
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.62);
}

.ordena {
    color: white;
    font-weight: bold;
    background-color: var(--color-dark-red);
    padding: 12px 40px;
    font-size: 18px;
}


.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px;
    z-index: 5;
    /* Ajustado para estar debajo del h1 pero sobre la imagen */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(79, 78, 78, 0.8) 35%,
            rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}

/*HEADERE*/

header {
    width: 100%;
    margin: auto;
    position: absolute;
}

nav {
    width: 100%;
    background: transparent;
}

.logo-nav {
    width: 60px;
    z-index: 100;
    position: relative;
}

nav ul.flex-row {
    width: 100%;
    justify-content: flex-start;
    padding: 15px 2.3rem;
    gap: 40px;
    list-style: none;
}

nav li {
    padding: 15px 10px;
}

.li-nav {
    display: none;
}


.header__checkbox {
    display: none;
}

.header__open-nav-button {
    display: flex;
    color: #fafafa;
    font-size: 3rem;
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-bottom: 10px;
}

.main-visual-nav {
    width: 100%;
    padding: 0.15rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.iniciarsesion {
    width: 60px;
    z-index: 90;
    position: relative;
    color: white;
    background-color: var(--color-orange);
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
}

.crear {
    background-color: #DD1C1A;
}




/* Mobile Navigation Styles */


header {
    margin: auto;
    position: absolute;
}

.header-nav {
    display: flex;
    height: 100vh;
    width: 30%;
    transition: max-width 0.5s;
    background-color: rgba(122, 10, 0, 1);
    position: fixed;
    top: 0;
    z-index: 100;
    padding-top: 50px;
    overflow-y: auto;
}

.blur {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(10px);
    display: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.icon-close {
    font-size: 35px;
    width: 35px;
    color: white;
    position: absolute;
    z-index: 1004;
    top: 30px;
    left: 35px;
    cursor: pointer;
}

.header-ul {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-top: 45px;
}

.container-header__ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.container-link-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 25px;
    cursor: pointer;
    gap: 40px;
    transition: paddinf-left all ease-in-out;
}

.title-links-ul {
    font-size: 13px;
    font-weight: 800;
    color: white;
}

.container-link-ul:hover {
    padding-left: 35px;
}


/*dropdown nav */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 100%;
    height: 65px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    background-color: var(--color-dark-red);
}


.card-title {
    font-size: 12.5px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

.dropdown__arrow {
    width: 35px;
    font-size: 30px;
    color: #fafafa;
    transition: transform 0.3s ease;
}

.card_content {
    display: none;
    padding: 0px 15px;
    background-color: var(--color-dark-red);
}

.item-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-top: 15px;
}


.item {
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.item a {
    color: white;
}

.item i {
    color: white;
}

/*js animacion cards*/
.show_card {
    height: 250px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.show_cardContent {
    display: block;
    opacity: 1;
    animation: fadeIn 0.5s ease;
}


.dropdown__arrow.rotated {
    transform: rotate(180deg);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* Checkbox and Button Styles */


.header-nav::-webkit-scrollbar {
    display: none;
}


.icon-ul {
    width: 35px;
    font-size: 40px;
    color: white
}



.btn-ul {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: #fafafa;
    background: var(--color-accent);
    position: relative;
    font-weight: 1000;
    font-size: 13px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    cursor: pointer;
}

.btn-ul:hover {
    background: #d8d8d8;
}

/*Secctin de acerca nosotros*/

.about-us {
    display: flex;
    padding: 50px 35px;
    background: #0001;
}

.container-about {
    width: 25%;
    font-size: 18px;
    font-weight: 600;
    max-width: 400px;
}

.container-about-2 {
    font-family: var(--font);
    width: 65%;
    max-width: 1200px;
    flex-direction: column;
    font-size: 30px;
    padding-right: 20px;
}

.container-about-2 .btn-read_more {
    z-index: 12;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 6.5px 16.5px;
    margin: 0px 5px;
    border-radius: 16px;
    background-color: var(--color-dark-red);
    white-space: nowrap;
}


.Links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 120px 10px 130px 10px;
    background-color: var(--color-dark-red);
    margin: 0;
}

.container-link {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 40px 10px;
    gap: 40px;
}


.title-links {
    color: white;
    margin-top: 30px;
}

.container-link p {
    color: white;
}

.icon-link {
    width: 90px;
    height: 90px;
}

/* From Uiverse.io by alexroumi */
.btn-links {
    padding: 15px 25px;
    border: unset;
    border-radius: 16px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btn-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 16px;
    background-color: var(--color-primary);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btn-links:hover {
    color: #e8e8e8;
}

.btn-links:hover::before {
    width: 100%;
}


/*Section menu*/


.menu h3 {
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: space-between;
    margin: 4.5rem 8rem;
}


.product {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.product p {
    font-size: 1.0em;
    font-weight: bold;
}

.product img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 110px;
    min-width: 20px;
    transition: scale 0.3s;
}



.product:hover img,
.product:hover p {
    scale: 1.2;
}



/*Ubicacion Secvtion*/
.Ubicacion {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding: 6rem 5rem 0rem 5rem;
}

.map {
    width: 100%;
}

.Ubicacion h3 {
    font-size: 3rem;
    color: #000;
    text-align: center;
    padding: 0;
}


.container-info {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 300px;
    width: 100%;
    align-items: center;
    gap: 30px;
    padding: 0rem 0rem;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.btn-ubi {
    cursor: pointer;
    width: 100%;
    max-width: 240px;
    height: 50px;
    font-size: 16px;
    position: relative;
    border-radius: 6px;
    border: none;
    background: var(--color-primary);
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 2rem;
}

.btn-ubi:nth-child(2) {
    background-color: #48f;
    gap: 10px;
    padding: 0;
    justify-content: center;
}

.btn-ubi .span {
    color: #ffffff;
    font-weight: 900;
}

/* Media query for slightly larger screens */

/*Blog section*/

.blogs {
    width: 100%;
    background-color: white;
    padding: 3rem 5rem;
    min-height: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

.container-blogs-1 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 55px;
    width: 100%;
    height: auto;
}


.bar-blog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-blog a {
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-primary);
    font-family: var(--font-riffic);
}

.blog-title-main {
    position: relative;
    font-family: var(--font-riffic);
    padding-left: 14px;
    font-size: 50px;
}





.blog-text-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-model {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 30px;
    padding: 2rem 1rem;
    
}






.card-model img {
    aspect-ratio: 2/1;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.blog-title {
    font-size: 26px;
    font-weight: 900;
    font-family: var(--font);
    color: var(--color-primary);
}


.descripcion-blogs {
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
}





/*Footer section*/
.footer {
    overflow: hidden;
    background-color: var(--color-dark-red);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 300px;
    padding: 1rem 2rem 1rem 2rem;
    padding-bottom: 0px;
}


.seccion-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0px;
}

.seccion-1:first-child {
    justify-content: center;
}

.log-2 {
    margin-top: 20px;
    margin: auto;
    width: 130px;
    z-index: 99;
}

.wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 12px;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    color: var(--color-dark-red);
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translate(-50%) rotate(45deg);
    -ms-transform: translate(-50%) rotate(45deg);
    transform: translate(-50%) rotate(45deg);
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}



.seccion-1:nth-child(2) {
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 40px;
    gap: 20px;
}


.seccion-1:nth-child(3) {
    margin-top: 20px;
    gap: 20px;
}

.seccion-1 p {
    color: #fff;
    font-size: 70px;
    font-family: var(--font);
}

.seccion-1 a {
    color: #fafafa;
    font-size: 14px;
}

.seccion-1:first-child p {
    font-size: 80px;
}

.seccion-1:nth-child(2) a {
    font-size: 20px;
    transition: color .3s ease-in-out;
}

.seccion-1:nth-child(2) a:hover {
    font-size: 20px;
    color: var(--color-orange);
}

.seccion-1:first-child {
    align-items: flex-start;
    color: #fafafa;
}



.social-media {
    width: 100%;
    display: flex;
    align-items: center;
}

.social-media:first-child img {
    margin-bottom: 1rem;
}

.social-media img {
    margin-left: 15px;
    width: 27px;
    height: 27px;
}

.container-copy {
    display: flex;
    width: 100%;
    background-color: var(--color-dark-red);
    padding: 20px 30px;
    font-size: 9px;
    color: #fafafa;
}

@media (max-width : 1020px) {
    .header-nav {
        width: 100%;
    }

    .image-overlay {
        height: 100dvh;
    }

    .iniciarsesion {
        font-size: 10px;
        padding: 8px 14px;
    }


    .center-main {
        top: 70%;
        grid-template-rows: 1fr 140px 1fr;
        gap: 10px;
    }

    .btns-load {
        gap: 10px;
    }

    .blogs {
        padding: 3rem 3.5rem;
        height: 160vh;
        height: fit-content;
    }

    .container-blogs-1 {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        gap: 55px;
    }

    .card-model {
        width: 700px;
        margin: auto;
    }

    .card-model img {
        width: 100%;
        height: 250px;
    }

    .blog-title {
        font-size: 20px;
        font-weight: 900;
        color: #000;
        font-family: var(--font);
    }


    .products {
        margin: 2rem 2.5rem;
        gap: 15px;
        max-width: 1000px;
        overflow-x: auto;
        line-height: 24px;

    }

    .products::-webkit-scrollbar {
        width: 0;
    }

    .product {
        min-width: 120px;
        line-height: 24px;
        min-height: 140px;
    }
}

/*VIEW CELULAR*/
@media (max-width: 768px) {
    .link-nav {
        display: none;
    }



    .Links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .container-link:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .container-link {
        width: 100%;
        height: 100%;
        padding: 40px 10px;
        gap: 40px;
    }

    .card-model {
        width: 100%;
    }

    .container-abouts {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
    }

    .container-about {
        width: 100%;
        margin: auto;
        font-size: 2rem;
    }

    .container-about-2 {
        width: 100%;
        padding: 0px;
        font-size: 24px;
    }


    .container-link:nth-child(2) {
        border-left: none;
        border-right: none;
    }


    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 60px 160px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        padding-bottom: 0px;
    }

    .seccion-1 {
        width: 100%;
        padding: 0rem;
        padding-bottom: 0px;
    }

    .seccion-1:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        margin: 0;
    }


    .seccion-1:nth-child(3) {
        border-bottom: 0.5px solid #fafafa;
    }

    .container-copy {
        width: 100%;
        padding: 36px 30px;
    }

}

@media screen and (max-width: 768px) {
    .container-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 130px;
        padding-bottom: 0px;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .btn-ubi {
        max-width: 180px;
    }
}


@media (max-width: 600px) {
    .footer {
        grid-template-rows: 300px 70px 200px;
    }
}

@media (max-width: 490px) {

    .container-info {
        grid-template-rows: 1fr 230px;
    }

    .buttons {
        flex-direction: column;
        justify-content: center;
    }

    .Ubicacion {
        padding: 3.5rem 3rem 0rem 3rem;
        height: 120vh;
    }

    .iniciarsesion {
        font-size: 7px;
    }

    .seccion-1:nth-child(2) a {
        font-size: 14px;
    }
}